<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level %c{1.} - %msg%xEx%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="DEBUG">
            <appender-ref ref="Console"/>
        </root>
        <logger name="com.alibaba.druid.pool.DruidDataSource" level="WARN"/>
        <logger name="org.apache.ibatis.transaction" level="WARN"/>
        <logger name="org.apache.ibatis.logging.LogFactory" level="WARN"/>
        <logger name="org.apache.ibatis.logging.jdbc.BaseJdbcLogger" level="DEBUG"/>
    </loggers>

</configuration>